asttokens
colorama
comm
debugpy
decorator
executing
ipykernel
ipython
ipython-pygments-lexers
jedi
jupyter-client
jupyter-core
matplotlib-inline
nest-asyncio
packaging
parso
platformdirs
prompt-toolkit
psutil
pure-eval
pygments
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
wcwidth
contourpy
cycler
fonttools
git-filter-repo
imbalanced-learn
imblearn
jinja2
joblib
kiwisolver
markupsafe
matplotlib
numpy
pandas
patsy
pillow
pip
pyparsing
pytz
scikit-learn
scipy
seaborn
setuptools
statsmodels
threadpoolctl
tzdata
xgboost
autocommand
backports.tarfile
importlib-metadata
inflect
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
more-itertools
tomli
typeguard
typing-extensions
wheel
zipp
